<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<h2>Rails Env: <%= "#{Rails.env} - #{ActiveRecord::Base.connection.adapter_name}" %></h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
  <% end %>
</ul>

<br>

<%= link_to 'New Post', new_post_path %>
